.calculator{
    height: 20em;
    width: 14.7em;
    border-radius: 0.35rem;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 3em, 3em, 3em, 3em, 3em;
}